body {
  font-family: "游ゴシック Light", sans-serif;
  margin: 50px;
  background-color: rgb(214, 255, 252);
  line-height: 26px;
}
.box {
  width: 560px;
  margin: 10px;
}

.comp {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: rgb(172, 255, 255);
}
img {
  width: 560px;
}

.bold {
  font-size: 1.5rem;
  font-weight: lighter;
}
li {
  padding: 5px;
}

#bar {
  border: 1px solid rgb(70, 79, 217);
  width: 500px;
}

#chart_ {
  width: 90%;
}

#oshirase {
  width: 90%;
  padding: 5%;
  height: 200px;
  overflow: scroll;
  border: 1px dashed rgb(0, 174, 255);
}

.color {
  color: rgb(9, 9, 104);
  font-size: 1.2rem;
}

@media (min-width: 560px) {
  #logo {
    width: 350px;
  }

  div#info1 {
    float: left;
    margin: 5px;
    padding: 5あpx;
    width: 275px;
    padding: 5px;
    background-color: rgb(202, 255, 205);
}

  div#info {
    padding: 10px;
    float: left;
    width: calc(100% - 325px); 
}
}

@media (max-width: 560px) {
  body {
    font-family: "游ゴシック Light", sans-serif;
    background-color: rgb(214, 255, 254);
    margin: 10px;
    line-height: 28px;
  }
  #logo {
    width: 100%;
  }

  div#info1 {
    background-color: rgb(202, 255, 205);
  }
  img {
    width: 100%;
  }
  .comp {
    justify-content: center;
  }
  .box {
    width: 80%;
    margin: 5px;
  }

  .bold {
    font-size: 1.5rem;
    font-weight: lighter;
  }

  #bar {
    border: 1px solid rgb(70, 79, 217);
    width: 500px;
  }

  #chart_ {
    width: 600px;
  }

  .color {
    color: rgb(9, 9, 104);
    font-size: 1.2rem;
  }
  #chart_ {
    width: 100%;
  }
}
